*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000;
}

.top{
    width: 130px;
    background: rgba(66, 65, 65, 0.925);
    position: absolute;
    top: 10px;
    right: 40px;
    color: #fff;
    padding: 6px 6px;   
    border-radius: 10px;
}

.top i{
    font-size: 20px;  
}

.top-2{
    width: 25px;
    height: 33px;
    background: rgba(66, 65, 65, 0.925);
    position: absolute;
    top: 10px;
    right: 5px;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.top, .top-2:hover{
    cursor: pointer;
}

.container-flex{
    width: 1700px;
    height: 700px;
    margin: 0 auto;
    position: relative;
    top: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.box{
    width: 260px;
    height: 150px;
    background: lavenderblush;
    margin: 10px 5px;
    background-size: cover;
    color: #ccc;
    position: relative;
}

.none{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
}

.box:hover .none{
    background-image: url(/img/dogecoinn.jpg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    display:block;
    z-index: 1001;
}

.box img{
    width: 100%;
    height: 100%;
}

.pinco{
    background: rgba(66, 65, 65, 0.589);
    position: absolute;
    width: 110px;
    padding: 4px 5px;
    bottom: 0;
    left: 0;
    z-index: 1001;
}

footer{
    height: 120px;
    background: rgba(51, 50, 50, 0.322);
    color: #fff;
    position: relative;
    top: 135px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    display: flex;
    margin-top: 20px;
}

#cam{
    width: 70px;
}

#text-centered{
    padding-right: 12px;
}

.icon{
    width: 60px;
    height: 100px;
    margin:10px 10px;
    text-align: center;
}

.icon:hover{
    cursor: pointer;
}

.icon span{
    font-size: 16px;
    text-align: center;
}

.icon i{
    font-size: 40px;
    color: #fff;
    padding-bottom: 10px;
}

.caret{
    height: 100px;
    width: 20px;
    font-size: 25px;
    line-height: 80px;
}

.center{
    height: 100px;
    width: 800px;
    display: flex;
}

.right{
    height: 120px;
    width: 160px;
    background-color:rgb(77, 74, 74)
}

.icon-big{
    width: 160px;
    text-align: center;
    vertical-align: middle;
}

.icon-big i{
    font-size: 40px; 
    margin-top: 10px;
}

.icon-big p{
    margin-top: 10px;
}

#green i{
    color: green;
    text-align: center;
}

#green{
    width: 100px;
}

.right{
    text-align: center;
    color: red;
    line-height: 120px;
    font-size: 20px;
}

.right p:hover{
    cursor: pointer;
}





 